<h1> Check a Porker Hand </h1>

<br>
<%= form_tag welcome_checkHand_path, method: :post, remote:true do %>
  <input type="text" name="my_data">
  <input value="Check" type=submit>
<% end %>

<div id="result"></div>

