<h1> Check a Porker Hand </h1>

<br>
<%= form_tag welcome_check_hand_path(format: :js), method: :post, remote:true do %>
  <input type="text" name="my_data">
  <input name="submit" alue="Check" type=submit>
<% end %>

<div id="result"></div>

